In [1]:
import pandas as pd
import re

In [2]:
tweets_data = pd.read_csv('Elon_musk.csv')
del tweets_data['Unnamed: 0']
tweets_data

                                                   Text
0                                @kunalb11 I�m an alien
1     @ID_AA_Carmack Ray tracing on Cyberpunk with H...
2                   @joerogan @Spotify Great interview!
3                       @gtera27 Doge is underestimated
4     @teslacn Congratulations Tesla China for amazi...
...                                                 ...
1994  @flcnhvy True, it sounds so surreal, but the n...
1995  @PPathole Make sure to read ur terms &amp; con...
1996                @TeslaGong @PPathole Samwise Gamgee
1997  @PPathole Altho Dumb and Dumber is <U+0001F525...
1998                          Progress update August 28

[1999 rows x 1 columns]

### Data Cleaning

In [3]:
import neattext.functions as ntxt

In [4]:
stop_words = pd.read_csv('stop.txt',sep = '\t')
stop_words

              a
0           a's
1          able
2         about
3         above
4     according
..          ...
565       yours
566    yourself
567  yourselves
568           z
569        zero

[570 rows x 1 columns]

In [5]:
def clean(text):
    text = ntxt.remove_userhandles(text)
    text = re.sub('@[A-Za-z0-9]+','',str(text))
    text = re.sub(r"http\S+",'', str(text))
    text = text.lower()
    text = ntxt.remove_emojis(text)
    text = ntxt.remove_hashtags(text)
    text = ntxt.remove_html_tags(text)
    text = ntxt.remove_multiple_spaces(text)
    text = ntxt.remove_special_characters(text)
    text = ntxt.remove_urls(text)
    text = ntxt.remove_puncts(text)
    text = ntxt.remove_hashtags(text)
    text = ntxt.remove_stopwords(text)
    
    
    return text
tweets_data['Text_cleaned'] = tweets_data['Text'].apply(clean)

In [6]:
tweets_data

,Text,Text_cleaned
0,@kunalb11 I�m an alien,im alien
1,@ID_AA_Carmack Ray tracing on Cyberpunk with H...,ray tracing cyberpunk hdr nextlevel tried
2,@joerogan @Spotify Great interview!,great interview
3,@gtera27 Doge is underestimated,doge underestimated
4,@teslacn Congratulations Tesla China for amazi...,congratulations tesla china amazing execution ...
...,...,...
1994,"@flcnhvy True, it sounds so surreal, but the n...",true sounds surreal negative propaganda amp ea...
1995,@PPathole Make sure to read ur terms &amp; con...,sure read ur terms amp conditions clicking accept
1996,@TeslaGong @PPathole Samwise Gamgee,samwise gamgee
1997,@PPathole Altho Dumb and Dumber is <U+0001F525...,altho dumb dumber
1998,Progress update August 28,progress update august 28

In [7]:
# data = [x.strip() for x in tweets_data.Text]
# data = [x for x in data if x]

In [8]:
# data[0:10]

In [9]:
# tweets = ' '.join(data)
# tweets

In [10]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /home/arshad/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

### Sentiment analysis

In [11]:
from textblob import TextBlob

In [27]:
def do_sentiment(text):
    blob = TextBlob(text)
    polarity = blob.sentiment.polarity
    subjectivity = blob.sentiment.subjectivity
    
    if polarity > 0:
        sentiment = 'Positive'
    elif polarity < 0:
        sentiment = 'Negtive'
    else:
        sentiment = 'Neutral'
        
    return polarity,subjectivity,sentiment

In [28]:
tweets_data.Text_cleaned[3]

'doge underestimated'

In [29]:
do_sentiment(tweets_data.Text_cleaned[0])

(-0.25, 0.75, 'Negtive')

In [30]:
tweets_data['sentim'] = tweets_data['Text_cleaned'].apply(do_sentiment)

TypeError: do_sentiment() got an unexpected keyword argument 'axis'

In [20]:
polarity,subjectivity,sentiment = tweets_data['sentim'].str.split(',')

ValueError: too many values to unpack (expected 3)