### Importing Necessary libraries

In [3]:
import pandas as pd
import numpy as np
import tensorflow as tf
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler,LabelEncoder
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')

In [4]:
forest_fire = pd.read_csv('forestfires.csv')
forest_fire

,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,...,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep,size_category
0,mar,fri,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,...,0,0,0,0,1,0,0,0,0,small
1,oct,tue,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,...,0,0,0,0,0,0,0,1,0,small
2,oct,sat,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,...,0,0,0,0,0,0,0,1,0,small
3,mar,fri,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,...,0,0,0,0,1,0,0,0,0,small
4,mar,sun,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,...,0,0,0,0,1,0,0,0,0,small
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,aug,sun,81.6,56.7,665.6,1.9,27.8,32,2.7,0.0,...,0,0,0,0,0,0,0,0,0,large
513,aug,sun,81.6,56.7,665.6,1.9,21.9,71,5.8,0.0,...,0,0,0,0,0,0,0,0,0,large
514,aug,sun,81.6,56.7,665.6,1.9,21.2,70,6.7,0.0,...,0,0,0,0,0,0,0,0,0,large
515,aug,sat,94.4,146.0,614.7,11.3,25.6,42,4.0,0.0,...,0,0,0,0,0,0,0,0,0,small
516,nov,tue,79.5,3.0,106.7,1.1,11.8,31,4.5,0.0,...,0,0,0,0,0,0,1,0,0,small

In [5]:
pd.set_option('display.max_columns', None)

### Data Understanding and Preperation

In [6]:
forest_fire.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517 entries, 0 to 516
Data columns (total 31 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   month          517 non-null    object
 1   day            517 non-null    object
 2   FFMC           517 non-null    float64
 3   DMC            517 non-null    float64
 4   DC             517 non-null    float64
 5   ISI            517 non-null    float64
 6   temp           517 non-null    float64
 7   RH             517 non-null    int64
 8   wind           517 non-null    float64
 9   rain           517 non-null    float64
 10  area           517 non-null    float64
 11  dayfri         517 non-null    int64
 12  daymon         517 non-null    int64
 13  daysat         517 non-null    int64
 14  daysun         517 non-null    int64
 15  daythu         517 non-null    int64
 16  daytue         517 non-null    int64
 17  daywed         517 non-null    int64
 18  monthapr       517 non-null    int64
 19  monthaug       517 non-null    int64
 20  monthdec       517 non-null    int64
 21  monthfeb       517 non-null    int64
 22  monthjan       517 non-null    int64
 23  monthjul       517 non-null    int64
 24  monthjun       517 non-null    int64
 25  monthmar       517 non-null    int64
 26  monthmay       517 non-null    int64
 27  monthnov       517 non-null    int64
 28  monthoct       517 non-null    int64
 29  monthsep       517 non-null    int64
 30  size_category  517 non-null    object
dtypes: float64(8), int64(20), object(3)
memory usage: 125.3+ KB

In [7]:
forest_fire.size_category.unique()

array(['small', 'large'], dtype=object)

In [8]:
df = forest_fire.drop(labels=['month','day'],axis = 1)
df

,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,dayfri,daymon,daysat,daysun,daythu,daytue,daywed,monthapr,monthaug,monthdec,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep,size_category
0,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,0.00,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,small
1,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,0.00,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,small
2,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,0.00,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,small
3,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,0.00,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,small
4,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,0.00,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,small
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,81.6,56.7,665.6,1.9,27.8,32,2.7,0.0,6.44,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,large
513,81.6,56.7,665.6,1.9,21.9,71,5.8,0.0,54.29,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,large
514,81.6,56.7,665.6,1.9,21.2,70,6.7,0.0,11.16,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,large
515,94.4,146.0,614.7,11.3,25.6,42,4.0,0.0,0.00,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,small
516,79.5,3.0,106.7,1.1,11.8,31,4.5,0.0,0.00,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,small

In [9]:
df.std()

FFMC          5.520111
DMC          64.046482
DC          248.066192
ISI           4.559477
temp          5.806625
RH           16.317469
wind          1.791653
rain          0.295959
area         63.655818
dayfri        0.371006
daymon        0.350548
daysat        0.369244
daysun        0.387657
daythu        0.322907
daytue        0.329662
daywed        0.306138
monthapr      0.130913
monthaug      0.479249
monthdec      0.130913
monthfeb      0.193029
monthjan      0.062137
monthjul      0.241199
monthjun      0.178500
monthmar      0.306138
monthmay      0.062137
monthnov      0.043980
monthoct      0.168007
monthsep      0.471632
dtype: float64

In [10]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1:]

In [11]:
std_scale = StandardScaler()
scaled_X = std_scale.fit_transform(X)
scaled_X = pd.DataFrame(scaled_X,columns=X.columns)
scaled_X

,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,dayfri,daymon,daysat,daysun,daythu,daytue,daywed,monthapr,monthaug,monthdec,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep
0,-0.805959,-1.323326,-1.830477,-0.860946,-1.842640,0.411724,1.498614,-0.073268,-0.202020,2.254407,-0.408709,-0.440449,-0.474467,-0.365748,-0.375873,-0.341512,-0.133103,-0.743339,-0.133103,-0.200603,-0.062318,-0.256865,-0.184391,2.928152,-0.062318,-0.044023,-0.172860,-0.706081
1,-0.008102,-1.179541,0.488891,-0.509688,-0.153278,-0.692456,-1.741756,-0.073268,-0.202020,-0.443576,-0.408709,-0.440449,-0.474467,-0.365748,2.660475,-0.341512,-0.133103,-0.743339,-0.133103,-0.200603,-0.062318,-0.256865,-0.184391,-0.341512,-0.062318,-0.044023,5.785038,-0.706081
2,-0.008102,-1.049822,0.560715,-0.509688,-0.739383,-0.692456,-1.518282,-0.073268,-0.202020,-0.443576,-0.408709,2.270410,-0.474467,-0.365748,-0.375873,-0.341512,-0.133103,-0.743339,-0.133103,-0.200603,-0.062318,-0.256865,-0.184391,-0.341512,-0.062318,-0.044023,5.785038,-0.706081
3,0.191362,-1.212361,-1.898266,-0.004756,-1.825402,3.233519,-0.009834,0.603155,-0.202020,2.254407,-0.408709,-0.440449,-0.474467,-0.365748,-0.375873,-0.341512,-0.133103,-0.743339,-0.133103,-0.200603,-0.062318,-0.256865,-0.184391,2.928152,-0.062318,-0.044023,-0.172860,-0.706081
4,-0.243833,-0.931043,-1.798600,0.126966,-1.291012,3.356206,-1.238940,-0.073268,-0.202020,-0.443576,-0.408709,-0.440449,2.107630,-0.365748,-0.375873,-0.341512,-0.133103,-0.743339,-0.133103,-0.200603,-0.062318,-0.256865,-0.184391,2.928152,-0.062318,-0.044023,-0.172860,-0.706081
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,-1.640083,-0.846648,0.474768,-1.563460,1.536084,-0.753800,-0.736124,-0.073268,-0.100753,-0.443576,-0.408709,-0.440449,2.107630,-0.365748,-0.375873,-0.341512,-0.133103,1.345282,-0.133103,-0.200603,-0.062318,-0.256865,-0.184391,-0.341512,-0.062318,-0.044023,-0.172860,-0.706081
513,-1.640083,-0.846648,0.474768,-1.563460,0.519019,1.638592,0.995798,-0.073268,0.651674,-0.443576,-0.408709,-0.440449,2.107630,-0.365748,-0.375873,-0.341512,-0.133103,1.345282,-0.133103,-0.200603,-0.062318,-0.256865,-0.184391,-0.341512,-0.062318,-0.044023,-0.172860,-0.706081
514,-1.640083,-0.846648,0.474768,-1.563460,0.398350,1.577248,1.498614,-0.073268,-0.026532,-0.443576,-0.408709,-0.440449,2.107630,-0.365748,-0.375873,-0.341512,-0.133103,1.345282,-0.133103,-0.200603,-0.062318,-0.256865,-0.184391,-0.341512,-0.062318,-0.044023,-0.172860,-0.706081
515,0.680957,0.549003,0.269382,0.500176,1.156839,-0.140366,-0.009834,-0.073268,-0.202020,-0.443576,-0.408709,2.270410,-0.474467,-0.365748,-0.375873,-0.341512,-0.133103,1.345282,-0.133103,-0.200603,-0.062318,-0.256865,-0.184391,-0.341512,-0.062318,-0.044023,-0.172860,-0.706081
516,-2.020879,-1.685913,-1.780442,-1.739089,-1.222058,-0.815143,0.269509,-0.073268,-0.202020,-0.443576,-0.408709,-0.440449,-0.474467,-0.365748,2.660475,-0.341512,-0.133103,-0.743339,-0.133103,-0.200603,-0.062318,-0.256865,-0.184391,-0.341512,-0.062318,22.715633,-0.172860,-0.706081

In [12]:
le = LabelEncoder()
y.size_category = le.fit_transform(y.size_category)
y

     size_category
0                1
1                1
2                1
3                1
4                1
..             ...
512              0
513              0
514              0
515              1
516              1

[517 rows x 1 columns]

In [13]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.20,random_state=12,stratify=y)
X_train.shape,X_test.shape

((413, 28), (104, 28))

In [14]:
y.size_category.value_counts()

1    378
0    139
Name: size_category, dtype: int64

### Model building

In [15]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense,Flatten

In [28]:
model = Sequential()
model.add(Dense(units = 50, activation = 'relu',input_dim = 28))
model.add(Dense(units = 20, activation = 'relu'))
model.add(Dense(units = 1, activation='sigmoid'))
model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 50)                1450

 dense_7 (Dense)             (None, 20)                1020

 dense_8 (Dense)             (None, 1)                 21

=================================================================
Total params: 2,491
Trainable params: 2,491
Non-trainable params: 0
_________________________________________________________________

In [29]:
model.compile(optimizer='Adam',loss ='binary_crossentropy' ,metrics = ['accuracy'])

In [34]:
model.fit(X_train,y_train,epochs=82)

Epoch 1/82
13/13 [==============================] - 0s 3ms/step - loss: 0.0892 - accuracy: 0.9685
Epoch 2/82
13/13 [==============================] - 0s 4ms/step - loss: 0.0440 - accuracy: 0.9831
Epoch 3/82
13/13 [==============================] - 0s 4ms/step - loss: 0.0395 - accuracy: 0.9855
Epoch 4/82
13/13 [==============================] - 0s 3ms/step - loss: 0.0315 - accuracy: 0.9855
Epoch 5/82
13/13 [==============================] - 0s 3ms/step - loss: 0.0267 - accuracy: 0.9903
Epoch 6/82
13/13 [==============================] - 0s 3ms/step - loss: 0.0230 - accuracy: 0.9903
Epoch 7/82
13/13 [==============================] - 0s 3ms/step - loss: 0.0897 - accuracy: 0.9613
Epoch 8/82
13/13 [==============================] - 0s 2ms/step - loss: 0.0434 - accuracy: 0.9806
Epoch 9/82
13/13 [==============================] - 0s 3ms/step - loss: 0.0418 - accuracy: 0.9831
Epoch 10/82
13/13 [==============================] - 0s 2ms/step - loss: 0.0612 - accuracy: 0.9806
Epoch 11/82
13/13 [==============================] - 0s 2ms/step - loss: 0.1299 - accuracy: 0.9492
Epoch 12/82
13/13 [==============================] - 0s 3ms/step - loss: 0.0913 - accuracy: 0.9637
Epoch 13/82
13/13 [==============================] - 0s 4ms/step - loss: 0.0181 - accuracy: 0.9952
Epoch 14/82
13/13 [==============================] - 0s 2ms/step - loss: 0.0217 - accuracy: 0.9927
Epoch 15/82
13/13 [==============================] - 0s 4ms/step - loss: 0.0145 - accuracy: 0.9952
Epoch 16/82
13/13 [==============================] - 0s 2ms/step - loss: 0.0378 - accuracy: 0.9879
Epoch 17/82
13/13 [==============================] - 0s 4ms/step - loss: 0.0380 - accuracy: 0.9831
Epoch 18/82
13/13 [==============================] - 0s 2ms/step - loss: 0.1266 - accuracy: 0.9661
Epoch 19/82
13/13 [==============================] - 0s 4ms/step - loss: 0.0308 - accuracy: 0.9831
Epoch 20/82
13/13 [==============================] - 0s 2ms/step - loss: 0.0150 - accuracy: 0.9976
Epoch 21/82
13/13 [==============================] - 0s 3ms/step - loss: 0.0251 - accuracy: 0.9903
Epoch 22/82
13/13 [==============================] - 0s 2ms/step - loss: 0.0207 - accuracy: 0.9927
Epoch 23/82
13/13 [==============================] - 0s 4ms/step - loss: 0.0204 - accuracy: 0.9927
Epoch 24/82
13/13 [==============================] - 0s 3ms/step - loss: 0.0135 - accuracy: 0.9952
Epoch 25/82
13/13 [==============================] - 0s 4ms/step - loss: 0.0202 - accuracy: 0.9927
Epoch 26/82
13/13 [==============================] - 0s 6ms/step - loss: 0.0185 - accuracy: 0.9927
Epoch 27/82
13/13 [==============================] - 0s 6ms/step - loss: 0.0223 - accuracy: 0.9927
Epoch 28/82
13/13 [==============================] - 0s 6ms/step - loss: 0.0465 - accuracy: 0.9806
Epoch 29/82
13/13 [==============================] - 0s 5ms/step - loss: 0.0778 - accuracy: 0.9709
Epoch 30/82
13/13 [==============================] - 0s 3ms/step - loss: 0.0312 - accuracy: 0.9831
Epoch 31/82
13/13 [==============================] - 0s 3ms/step - loss: 0.0839 - accuracy: 0.9709
Epoch 32/82
13/13 [==============================] - 0s 3ms/step - loss: 0.0515 - accuracy: 0.9855
Epoch 33/82
13/13 [==============================] - 0s 5ms/step - loss: 0.0287 - accuracy: 0.9903
Epoch 34/82
13/13 [==============================] - 0s 3ms/step - loss: 0.0229 - accuracy: 0.9903
Epoch 35/82
13/13 [==============================] - 0s 2ms/step - loss: 0.0171 - accuracy: 0.9952
Epoch 36/82
13/13 [==============================] - 0s 4ms/step - loss: 0.0175 - accuracy: 0.9879
Epoch 37/82
13/13 [==============================] - 0s 3ms/step - loss: 0.0573 - accuracy: 0.9806
Epoch 38/82
13/13 [==============================] - 0s 5ms/step - loss: 0.0494 - accuracy: 0.9831
Epoch 39/82
13/13 [==============================] - 0s 4ms/step - loss: 0.0214 - accuracy: 0.9927
Epoch 40/82
13/13 [==============================] - 0s 3ms/step - loss: 0.0351 - accuracy: 0.9806
Epoch 41/82
13/13 [==============================] - 0s 2ms/step - loss: 0.0163 - accuracy: 0.9927
Epoch 42/82
13/13 [==============================] - 0s 4ms/step - loss: 0.0205 - accuracy: 0.9927
Epoch 43/82
13/13 [==============================] - 0s 3ms/step - loss: 0.0287 - accuracy: 0.9927
Epoch 44/82
13/13 [==============================] - 0s 3ms/step - loss: 0.0126 - accuracy: 0.9927
Epoch 45/82
13/13 [==============================] - 0s 2ms/step - loss: 0.0133 - accuracy: 0.9976
Epoch 46/82
13/13 [==============================] - 0s 4ms/step - loss: 0.0177 - accuracy: 0.9952
Epoch 47/82
13/13 [==============================] - 0s 3ms/step - loss: 0.0352 - accuracy: 0.9831
Epoch 48/82
13/13 [==============================] - 0s 3ms/step - loss: 0.0164 - accuracy: 0.9952
Epoch 49/82
13/13 [==============================] - 0s 3ms/step - loss: 0.0343 - accuracy: 0.9831
Epoch 50/82
13/13 [==============================] - 0s 3ms/step - loss: 0.1128 - accuracy: 0.9588
Epoch 51/82
13/13 [==============================] - 0s 2ms/step - loss: 0.2738 - accuracy: 0.9564
Epoch 52/82
13/13 [==============================] - 0s 4ms/step - loss: 0.4251 - accuracy: 0.9249
Epoch 53/82
13/13 [==============================] - 0s 2ms/step - loss: 0.2420 - accuracy: 0.9370
Epoch 54/82
13/13 [==============================] - 0s 2ms/step - loss: 0.2589 - accuracy: 0.9395
Epoch 55/82
13/13 [==============================] - 0s 5ms/step - loss: 0.0493 - accuracy: 0.9831
Epoch 56/82
13/13 [==============================] - 0s 4ms/step - loss: 0.0368 - accuracy: 0.9879
Epoch 57/82
13/13 [==============================] - 0s 3ms/step - loss: 0.0094 - accuracy: 1.0000
Epoch 58/82
13/13 [==============================] - 0s 3ms/step - loss: 0.0129 - accuracy: 0.9952
Epoch 59/82
13/13 [==============================] - 0s 3ms/step - loss: 0.0340 - accuracy: 0.9879
Epoch 60/82
13/13 [==============================] - 0s 3ms/step - loss: 0.0318 - accuracy: 0.9879
Epoch 61/82
13/13 [==============================] - 0s 3ms/step - loss: 0.0169 - accuracy: 0.9952
Epoch 62/82
13/13 [==============================] - 0s 2ms/step - loss: 0.0158 - accuracy: 0.9903
Epoch 63/82
13/13 [==============================] - 0s 3ms/step - loss: 0.0259 - accuracy: 0.9927
Epoch 64/82
13/13 [==============================] - 0s 3ms/step - loss: 0.0143 - accuracy: 0.9976
Epoch 65/82
13/13 [==============================] - 0s 5ms/step - loss: 0.0116 - accuracy: 0.9952
Epoch 66/82
13/13 [==============================] - 0s 4ms/step - loss: 0.0112 - accuracy: 0.9952
Epoch 67/82
13/13 [==============================] - 0s 4ms/step - loss: 0.0250 - accuracy: 0.9855
Epoch 68/82
13/13 [==============================] - 0s 4ms/step - loss: 0.0563 - accuracy: 0.9855
Epoch 69/82
13/13 [==============================] - 0s 4ms/step - loss: 0.0345 - accuracy: 0.9831
Epoch 70/82
13/13 [==============================] - 0s 4ms/step - loss: 0.0663 - accuracy: 0.9709
Epoch 71/82
13/13 [==============================] - 0s 3ms/step - loss: 0.0517 - accuracy: 0.9782
Epoch 72/82
13/13 [==============================] - 0s 4ms/step - loss: 0.0261 - accuracy: 0.9927
Epoch 73/82
13/13 [==============================] - 0s 4ms/step - loss: 0.0127 - accuracy: 0.9952
Epoch 74/82
13/13 [==============================] - 0s 2ms/step - loss: 0.0202 - accuracy: 0.9903
Epoch 75/82
13/13 [==============================] - 0s 4ms/step - loss: 0.0079 - accuracy: 0.9976
Epoch 76/82
13/13 [==============================] - 0s 3ms/step - loss: 0.0407 - accuracy: 0.9831
Epoch 77/82
13/13 [==============================] - 0s 3ms/step - loss: 0.0279 - accuracy: 0.9903
Epoch 78/82
13/13 [==============================] - 0s 3ms/step - loss: 0.0406 - accuracy: 0.9782
Epoch 79/82
13/13 [==============================] - 0s 3ms/step - loss: 0.0095 - accuracy: 0.9976
Epoch 80/82
13/13 [==============================] - 0s 4ms/step - loss: 0.0114 - accuracy: 0.9976
Epoch 81/82
13/13 [==============================] - 0s 2ms/step - loss: 0.0072 - accuracy: 0.9976
Epoch 82/82
13/13 [==============================] - 0s 3ms/step - loss: 0.0109 - accuracy: 0.9976

In [35]:
prediction = model.predict(X_test)

In [36]:
model.evaluate(X_test,y_test)

4/4 [==============================] - 0s 2ms/step - loss: 0.0768 - accuracy: 0.9712

[0.07679888606071472, 0.9711538553237915]

In [37]:
prediction = np.round(prediction)

In [38]:
output = y_test.copy()
output['y_pred'] = prediction

In [39]:
output.head(40)

     size_category  y_pred
446              1     1.0
15               1     1.0
456              1     1.0
282              1     1.0
367              1     1.0
489              1     1.0
383              0     0.0
129              1     1.0
270              1     1.0
158              1     1.0
355              0     0.0
311              0     0.0
493              0     0.0
338              0     0.0
10               1     1.0
215              0     0.0
457              0     0.0
364              1     1.0
382              1     0.0
133              1     1.0
292              1     1.0
483              1     1.0
410              1     1.0
65               1     1.0
436              1     1.0
289              1     1.0
272              1     1.0
200              0     0.0
136              1     1.0
36               1     1.0
247              1     1.0
217              0     0.0
178              1     1.0
314              1     1.0
232              0     0.0
249              1     1.0
45               1     1.0
82               1     1.0
499              0     0.0
471              0     0.0